@use "../../styles/_tokens.scss" as *;

.carouselSection {
  background: rgba(7, 7, 70, 0.247);
  margin-block-start: 3rem;
  padding-block-start: 1rem;
}

.carousel {
  font-family: "Ubuntu", sans-serif;
  color: $color-text-light;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

}

.title {
  font-size: 1.75rem;
  font-weight: 600;
 margin-inline: auto;
  text-align: center;
  color: $color-text-light;
  margin-block: 1.5rem;
  max-width: 12rem;
  align-self: center;
}

.controls {
  display: flex;
  gap: 0.5rem;
}

.controlBtn {
  border: 2px solid $color-btn-light;
  font-size: 2rem;
  border-radius: 50%;
  background: $color-btn;
  color: $color-text-light;
  padding: 0.25rem;
  line-height: 0.91;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.226);
  cursor: pointer;
}

.controlBtn:disabled {
  opacity: 0.5;
}

.stateText {
  font-size: 1rem;
  opacity: 0.95;
  text-align: center;
}

.track {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.card {
  flex: 0 0 100%;
  width: 100%;
  background: transparent;
  color: $color-text-light;
  text-align: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.text {
  margin: 0 2.5rem 1.5rem;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}

.name {
  margin: 0;
  font-weight: 700;
  font-size: 1.25rem;
}

.occupation {
  margin: 0.15rem 0 0;
  font-size: 0.85rem;
  opacity: 0.75;
}