@use "../../styles/_tokens.scss" as *;


.newsletterForm {
  font-family: "Ubuntu", sans-serif;
  background: $color-bg;
  color: $color-text-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-inline: auto;
  padding-inline: 1.5rem;

  .newsletterTitle {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0;
    align-self: flex-start;
    margin-block: 2rem 1rem;
  }

  .newsletterText {
    font-size: 1.15rem;
    line-height: 1.4;
    margin-block-end: 1rem;
  }

  .newsletterFormContainer {
    display: flex;
    gap: .95rem;
    width: 100%;

    .newsletterInput {
      flex: 1;
      min-width: 0;
      padding: .75rem;
      border-radius: .2rem;
      border: none;
    }

    .newsletterButton {
      background-color: $color-btn-light;
      color: $color-text;
      border: none;
      border-radius: .5rem;
      padding: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
      box-shadow: 0 4px 1px rgba(0, 0, 0, 0.226);
      white-space: nowrap;
    }
   }

}