
$color-bg: rgba(0, 49, 71, 1);
$color-bg-light: rgba(255, 255, 255, 0.8);
$color-btn: rgba(0, 49, 71, 1);
$color-btn-light: rgba(233, 233, 233, 1);
$color-text: rgba(0, 49, 71, 1);
$color-text-light: rgba(233, 233, 233, 1);

$color-error: #ff7070;
$color-message: lightblue;
$color-placeholder: rgba(0, 49, 71, 0.45);
$color-border-input: rgba(255, 255, 255, 0.2);
$color-border-focus: rgba(255, 255, 255, 0.5);
