

$color-bg: rgba(0, 49, 71, 1);
$color-bg-light: rgba(255, 255, 255, 0.8);
$color-btn: rgba(0, 49, 71, 1);
$color-btn-light: rgba(233, 233, 233, 1);
$color-text: rgba(0, 49, 71, 1);
$color-text-light :rgba(233, 233, 233, 1);
